@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;800&display=swap');


:root {
    --cor-01: #ff0000;
    --cor-02: #c90303; 
    --cor-03: #1e1e1e;
    --cor-04: #000;
    --cor-05: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
}


@media (max-width:480px) {
    /* smartphones, Android phones, landscape iPhone */ 
    header {
        width: 100%;
        background-color: var(--cor-03);
    }
    /*---------menu----------*/
    .nav-bar {
        display: flex;
        justify-content: space-around;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .nav-logo h1 {
        color: var(--cor-02);
        font-size: 20px;
        padding: 10px;
    }

    .nav-menu ul {
        list-style: none;
        display: flex;
        padding: 10px;
        gap: 10px;
    }
    
    .nav-menu i {
        color: var(--cor-05);
    }
    
    /*------banner---------*/

    .banner {
        width: auto;
    }


    .banner h3 {
        color: var(--cor-02);
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    .banner img {
        width: 100%;
    }
    /*-------banner-movie---------*/

    .banner-movie h3 {
        text-align: center;
        font-size: 15px;
        color: var(--cor-05);
        background-color: var(--cor-02);
        height: 20px;
    }

    /*---------movies---------*/

    div.swiper-slide {
        display: block;
    }

    div.swiper-slide img {
        width: 50%;
        margin: 2% 26%;
    }

    div.card-infos  h2 {
        width: 70%;
        margin-left: 15%;
        flex-wrap: wrap;
        font-size: 15px;
    }
    div.card-infos  p {
        font-size: 15px;
        width: 70%;
        margin-left: 15%;
        padding: 10px;
        text-align: justify;
    }

    .card-more {
        height: 150px;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        font-size: 10px;
    }

    .card-more i {
        justify-content: space-around;
        font-size: 25px;
        color: var(--cor-02);
    }

    .card-more h3 {
        font-size: 10px;
        color: var(--cor-03);
    }

    footer {
        width: 100%;
        height: 45px;
        padding: 10px;
        text-align: center;
        background-color: var(--cor-03);
        color: var(--cor-05);
        font-size: 10px;
    }

}

@media (max-width:1030px) {
     /* tablet, landscape iPad, lo-res laptops ands desktops */
     header {
        width: 100%;
        background-color: var(--cor-03);
    }
    /*---------menu----------*/
    .nav-bar {
        display: flex;
        justify-content: space-around;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .nav-logo h1 {
        color: var(--cor-02);
        font-size: 20px;
        padding: 10px;
    }

    .nav-menu ul {
        list-style: none;
        display: flex;
        padding: 10px;
        gap: 10px;
    }
    
    .nav-menu i {
        color: var(--cor-05);
    }
    
    /*------banner---------*/

    .banner {
        width: auto;
    }


    .banner h3 {
        color: var(--cor-02);
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    .banner img {
        width: 100%;
    }
    /*-------banner-movie---------*/

    .banner-movie h3 {
        text-align: center;
        font-size: 15px;
        color: var(--cor-05);
        background-color: var(--cor-02);
        height: 20px;
    }

    /*---------movies---------*/

    div.swiper-slide {
        display: block;
    }

    div.swiper-slide img {
        width: 50%;
        margin: 2% 26%;
    }

    div.card-infos  h2 {
        width: 70%;
        margin-left: 15%;
        flex-wrap: wrap;
        font-size: 15px;
    }
    div.card-infos  p {
        font-size: 15px;
        width: 70%;
        margin-left: 15%;
        padding: 10px;
        text-align: justify;
    }

    .card-more {
        height: 150px;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        font-size: 10px;
    }

    .card-more i {
        justify-content: space-around;
        font-size: 25px;
        color: var(--cor-02);
    }

    .card-more h3 {
        font-size: 10px;
        color: var(--cor-03);
    }

    footer {
        width: 100%;
        height: 45px;
        padding: 10px;
        text-align: center;
        background-color: var(--cor-03);
        color: var(--cor-05);
        font-size: 10px;
    }
}

@media (min-width:1040px) {
     /* hi-res laptops and desktops */ 
     header {
        width: 100%;
        background-color: var(--cor-03);
    }
    /*---------menu----------*/
    .nav-bar {
        display: flex;
        height: 100px;
        justify-content: space-around;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .nav-logo h1 {
        color: var(--cor-02);
        font-size: 25px;
        padding: 30px;
        align-items: center;
    }

    .nav-menu ul {
        list-style: none;
        display: flex;
        padding: 30px;
        gap: 10px;
        font-size: 25px;
    }
    
    .nav-menu i {
        color: var(--cor-05);

    }
    
    /*------banner---------*/

    .banner {
        width: auto;
        padding: 20px;
    }


    .banner h3 {
        color: var(--cor-02);
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }

    .banner img {
        width: 80%;
        margin-left: 10%;
    }
    /*-------banner-movie---------*/

    .banner-movie h3 {
        text-align: center;
        font-size: 25px;
        color: var(--cor-05);
        background-color: var(--cor-02);
        height: 60px;
        padding: 10px;
    }

    /*---------movies---------*/

    div.swiper-slide {
        display: flex;
    }

    div.swiper-slide img {
        width: 200px;
        height: 400px;
        margin: 10% 60%;
    }

    div.card-infos  h2 {
        width: 70%;
        margin-left: 15%;
        flex-wrap: wrap;
        font-size: 15px;
    }
    div.card-infos  p {
        font-size: 15px;
        width: 70%;
        margin-left: 15%;
        padding: 40px;
        text-align: justify;
    }

    .card-more {
        height: 150px;
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 10px;
    }

    .card-more i {
        justify-content: space-around;
        font-size: 25px;
        color: var(--cor-02);
    }

    .card-more h3 {
        font-size: 10px;
        padding: 10px;
        color: var(--cor-03);
    }

    footer {
        width: 100%;
        height: 45px;
        padding: 10px;
        text-align: center;
        background-color: var(--cor-03);
        color: var(--cor-05);
        font-size: 10px;
    }
}



    /*---------slider----------*/

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #dedede;
        
    }



